@charset "utf-8";

html, body {
    margin:0px;
    overflow:hidden;


}

#main-container {
    width:100%;
    background-color:#ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    height:100%;
    position:absolute;
}